HOME            = .
RANDFILE        = $ENV::HOME/.rnd
####################################################################
[ req ]
default_bits                = 2048
default_keyfile             = serverkey.pem
distinguished_name          = server_distinguished_name
req_extensions              = server_req_extensions
string_mask                 = utf8only
####################################################################
[ server_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         =
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default =
localityName                = Locality Name (eg, city)
localityName_default        =
organizationName            = Org Name
organizationName_default    =
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = {{item.item}}.cloud.apprenda.local
emailAddress                = Email Address
emailAddress_default        =
####################################################################
[ server_req_extensions ]
subjectKeyIdentifier        = hash
basicConstraints            = CA:FALSE
keyUsage                    = digitalSignature, keyEncipherment
extendedKeyUsage            = 1.3.6.1.5.5.7.3.1
nsComment                   = "OpenSSL Generated Certificate"
####################################################################
