;SQL Server 2012 Configuration File
[OPTIONS]

; Specifies a Setup work flow, like INSTALL, UNINSTALL, or UPGRADE. This is a required parameter. 

ACTION="CompleteFailoverCluster"
IACCEPTSQLSERVERLICENSETERMS="True"

; Detailed help for command line argument ENU has not been defined yet. 

ENU="True"

; Parameter that controls the user interface behavior. Valid values are Normal for the full UI,AutoAdvance for a simplied UI, and EnableUIOnServerCore for bypassing Server Core setup GUI block. 

; UIMODE="Normal"

; Setup will not display any user interface. 

QUIET="True"

; Setup will display progress only, without any user interaction. 

QUIETSIMPLE="False"

; Displays the command line parameters usage 

HELP="False"

; Specifies that the detailed Setup log should be piped to the console. 

INDICATEPROGRESS="True"

; Specifies that Setup should install into WOW64. This command line argument is not supported on an IA64 or a 32-bit system. 

X86="False"

; Specify a default or named instance. MSSQLSERVER is the default instance for non-Express editions and SQLExpress for Express editions. This parameter is required when installing the SQL Server Database Engine (SQL), Analysis Services (AS), or Reporting Services (RS). 

INSTANCENAME="MSSQLSERVER"

; Specifies a cluster shared disk to associate with the SQL Server failover cluster instance. 

FAILOVERCLUSTERDISKS="DATA-Disk" "LOG-Disk"

; Specifies the name of the cluster group for the SQL Server failover cluster instance. 

FAILOVERCLUSTERGROUP="SQL Server (MSSQLSERVER)"

; Indicates that the change in IP address resource dependency type for the SQL Server multi-subnet failover cluster is accepted. 

CONFIRMIPDEPENDENCYCHANGE="True"

; Specifies an encoded IP address. The encodings are semicolon-delimited (;), and follow the format <IP Type>;<address>;<network name>;<subnet mask>. Supported IP types include DHCP, IPV4, and IPV6. 

FAILOVERCLUSTERIPADDRESSES="IPv4;{{hostvars['localhost'].node1_ip3}};{{hostvars[cluster_primary].networkName}};255.255.192.0" "IPv4;{{hostvars['localhost'].node2_ip3}};{{hostvars[cluster_primary].networkName2}};255.255.192.0"

; Specifies the name of the SQL Server failover cluster instance.  This name is the network name that is used to connect to SQL Server services. 

FAILOVERCLUSTERNETWORKNAME="{{sqlclustername}}"

; Specifies a Windows collation or an SQL collation to use for the Database Engine. 

SQLCOLLATION="SQL_Latin1_General_CP1_CI_AS"

; Windows account(s) to provision as SQL Server system administrators. 

SQLSYSADMINACCOUNTS="{{apprenda_netbios}}\{{apprenda_domain_user}}"

; The default is Windows Authentication. Use "SQL" for Mixed Mode Authentication. 

SECURITYMODE="SQL"
SAPWD="{{apprenda_sql_sa}}"

; The Database Engine root data directory. 

INSTALLSQLDATADIR="{{data_drive}}:"

; Default directory for the Database Engine user database logs. 

SQLUSERDBLOGDIR="{{log_drive}}:\MSSQL11.MSSQLSERVER\MSSQL\Data"

; Directory for the Database Engine TempDB log files. 

SQLTEMPDBLOGDIR="{{log_drive}}:\MSSQL11.MSSQLSERVER\MSSQL\Data"

