<powershell>

$admin = [adsi]("WinNT://./administrator, user")
$admin.PSBase.Invoke("SetPassword", "{{ win_initial_password }}")

$NewDomainDNSName = "{{apprenda_domain}}"
$Username = "{{apprenda_domain_user}}"
$Password = "{{apprenda_domain_pass}}"

$concat = $NewDomainDNSName+"\"+$Username
$cred = New-Object System.Management.Automation.PsCredential($concat, (ConvertTo-SecureString $Password -AsPlainText -Force))

$Stoploop2 = $false
[int]$Retrycount2 = "0"
do {
    try {
        Rename-Computer -NewName "{{cloud.name}}{{host.name}}" -Force
        Write-Host "Job completed"
        $Stoploop2 = $true
    }
    catch {
        if ($Retrycount2 -gt 3){
            Write-Host "Could not rename computer after 3 retrys."
            $Stoploop2 = $true
        }
        else {
            Write-Host "Could not rename computer retrying in 15 seconds..."
            Start-Sleep -Seconds 15
            $Retrycount2 = $Retrycount2 + 1
        }
    }
}
While ($Stoploop2 -eq $false)

$scriptcreds = New-Object System.Management.Automation.PsCredential("Administrator", (ConvertTo-SecureString "{{win_initial_password}}" -AsPlainText -Force))
Register-ScheduledJob -Credential $scriptcreds -Trigger (New-JobTrigger -AtStartup -RandomDelay 00:00:30) -ScriptBlock {$NewDomainDNSName = "{{apprenda_domain}}";$Username = "{{apprenda_domain_user}}";$Password = "{{apprenda_domain_pass}}";$concat = $NewDomainDNSName+"\"+$Username;$cred = New-Object System.Management.Automation.PsCredential($concat, (ConvertTo-SecureString $Password -AsPlainText -Force));Add-Computer -DomainName $NewDomainDNSName -Credential $cred -Force; Invoke-Expression ((New-Object System.Net.Webclient).DownloadString('https://s3.amazonaws.com/gsd-automation-artifacts/published_artifacts/ConfigureRemotingForAnsible.ps1'));Disable-ScheduledJob -Name "JoinDomain" } -Name JoinDomain

Restart-Computer -Force

</powershell>  
