<powershell>
  Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Force
  $storageDir = $pwd
  $webclient = New-Object System.Net.WebClient
  $url = "https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1"
  $file = "C:\\Program Files\\Amazon\\Ec2ConfigService\\Scripts\\ConfigureRemotingForAnsible.ps1"
  $webclient.DownloadFile($url,$file)
  $VerbosePreference="Continue"
  & $file
  $user=[adsi]"WinNT://localhost/Administrator,user"
  $user.SetPassword("{{apprenda_domain_pass}}")
</powershell>